[Unit]
Description=Proxy Container for Identidock
After=docker.service
Requires=docker.service
After=identidock.identidock.service
Requires=identidock.identidock.service


[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop proxy
ExecStartPre=-/usr/bin/docker rm proxy
ExecStartPre=/usr/bin/docker pull jiaming0docker/proxy:0.1
ExecStart=/usr/bin/docker run --rm --name proxy \
    --link identidock:identidock \
    -p 80:80 \
    -e NGINX_HOST=zhoujiaming \
    -e NGINX_PROXY=http://identidock:9090 \
    jiaming0docker/proxy:0.1

[Install]
WantedBy=multi-user.target

